/* src/app/globals.css */
@import "@fortawesome/fontawesome-svg-core/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}